<nav class="navbar navbar-light bg-white  navbar-expand-lg fixed-top container-fluid">
  <a class="navbar-brand width-15" [routerLink]="['/']"  ><img [src]="'assets/images/logo-name.png'" alt="pulse" class="width-100"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#toogleMenu" aria-controls="toogleMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="toogleMenu">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item"> <a [href]="'https://koinex.in'" class="mx-3 nav-link" target="_blank">Koinex</a></li>
        <li class="nav-item"><a [href]="'https://github.com/KoinEx/pulse'" class="mx-3 nav-link" target="_blank">GitHub</a></li>
        <li class="nav-item"> <a [href]="'https://discordapp.com/invite/zHymkdB'" class="mx-3 nav-link" target="_blank">Discord</a></li>
      </ul>
      
     
  </div>
</nav>