<app-header></app-header>
<div class="container-fluid">
  <div class="first-fold row">
    <div class="img col-md-5">
      <img [src]="'/assets/images/first-fold.png'" alt="first fold" class="width-100">
    </div>
    <div class="text ml-3 col-md-6">
      <div class="title">
          An open source browser extension for EOS 
      </div>
      <div class="desc">
          You can install the EOS Pulse extension, on <a [href]="'https://chrome.google.com/webstore/detail/pulse/jlnbnjlakmkkhcmjbloceddnmclmfieo'">Chrome</a> and <a [href]="'https://chrome.google.com/webstore/detail/pulse/jlnbnjlakmkkhcmjbloceddnmclmfieo'">Brave browser.</a> If you’re a developer, you can start developing with EOS Pulse today.
      </div>
      <div class="button mt-3">
        <a [href]="''">  <img [src]="'/assets/images/logo.png'" alt="logo" class="width-15"> Add to Browser</a> 
      </div>
    </div>
  </div>
  <div class="second-fold">
    <div class="title">Your gateway to the EOS blockchain</div>
    <div class="desc">EOS Pulse is an open source browser extension for the EOS blockchain. It is a gateway to send, receive or stake EOS and its custom tokens. It enables easy integration with customised dApps and supports multiple accounts on various EOS networks.</div>
  </div>
  <div class="third-fold">
      <youtube-player [videoId]="video_id" (ready)="savePlayer($event)" (change)="onStateChange($event)" *ngIf="showYoutube" width="100%" height="100%"></youtube-player>
    <div class="img" >
      <img [src]="'/assets/images/video-thumbnail.png'" alt="thumbnail" class="width-100">
    </div>
    <div class="play-button" (click)="playYoutubeVideo()" >
      <img [src]="'/assets/images/play-button.png'" class="width-100" alt="" *ngIf="!ladda">
      <div *ngIf="ladda" class="indicator width-100 mt-5"> 
        <svg width="16px" height="12px">
          <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
          <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
        </svg>
      </div> 
    </div>
  </div>
  <div class="fourth-fold row">
    <div class="text col-md-6">
      <div class="title">Integrate dApps</div>
      <div class="specifictions" left=" ">
        <div class="info"> <img [src]="'/assets/images/arrow.png'" alt=""> <label > Push smart contract functions seamlessly</label></div>
        <div class="info"> <img [src]="'/assets/images/arrow.png'" alt=""> <label > Choose when you want to deny access to your data and disallow any dApp integration by enabling Private Mode</label></div>
      </div>
    </div>
    <div class="img col-md-5 ml-3" left=" ">
      <img [src]="'/assets/images/dapps.png'" alt="" class="width-100 m-auto">
    </div>
  </div>
  <div class="fifth-fold row">
    <div class="img col-md-5 ml-3" right="10" *ngIf="!isMobile">
      <img [src]="'/assets/images/manage-account.png'" alt="" class="width-100 m-auto">
    </div>
    <div class="text col-md-6">
      <div class="title">Manage Multiple Accounts</div>
      <div class="specifictions" right=" ">
        <div class="info"> <img [src]="'/assets/images/arrow.png'" alt=""> <label > Create multiple accounts in one wallet</label></div>
        <div class="info"> <img [src]="'/assets/images/arrow.png'" alt=""> <label > Connect to custom networks & explore the spectrums of EOS blockchain</label></div>
      </div>
    </div>

     <div class="img col-md-5 ml-3" right="10" *ngIf="isMobile">
      <img [src]="'/assets/images/manage-account.png'" alt="" class="width-100 m-auto">
    </div>
  </div>
  <div class="fourth-fold row">
      <div class="text col-md-6">
        <div class="title">Transact and Stake Tokens</div>
        <div class="specifictions" left=" ">
          <div class="info"> <img [src]="'/assets/images/arrow.png'" alt=""> <label > Send, receive or stake EOS and EOS based custom tokens</label></div>
          <div class="info"> <img [src]="'/assets/images/arrow.png'" alt=""> <label > Delegate & Undelegate CPU/NET as per your requirement by easily staking/unstaking your EOS tokens </label></div>
        </div>
      </div>
      <div class="img col-md-5 ml-3" left=" ">
        <img [src]="'/assets/images/delegate.png'" alt="" class="width-100 m-auto">
      </div>
    </div>
    <div class="contribution row">
      <div class="texts col-md-6">
        <div class="brand">
          <img [src]="'/assets/images/github-logo.png'" alt="" class="width-100">
        </div>
        <div class="title">
            Contributions are welcome!
        </div>
        <div class="desc">
            To experiment, practice and gain insights into the space we kept Pulse open sourced. You are welcome to contribute to the EOS Pulse source code.
        </div>
        <div class="button mt-2">
          <a [href]="'https://github.com/KoinEx/pulse'">Visit Github Repository</a>
        </div>
      </div>
      <div class="images col-md-6">
        <div class="logo">
          <img [src]="'/assets/images/big-logo.png'" alt="" class="width-100">
        </div>
        <div class="circle-dots">
          <img [src]="'/assets/images/circle-dots.png'" alt="" class="width-100">
        </div>
      </div>
    </div>
</div>
<app-footer></app-footer>